<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">  
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="index.html">{{theme.application.name}}</a>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      {% for item in theme.menus.main %}
      <li>
        <a class="nav-link" href="{{item.href}}">{{item.title}}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
</nav>
